
*.vwf
*.vht
*.qdb
*.cdb
.gitattributes
*.bak
*.hdb
*.rdb
*.xml
*.idb
*.ddb
*.qmsg
*.hif
db/.cmp.kpt
db/Elevator.cmp.logdb
db/Elevator.db_info
db/Elevator.hier_info
db/Elevator.lpc.html
db/Elevator.lpc.txt
db/Elevator.map.logdb
db/Elevator.sgate.nvd
db/Elevator.sgate_sm.nvd
db/Elevator.sgate_sm_bdd.nvd
db/Elevator.sld_design_entry.sci
db/Elevator.sld_design_entry_dsc.sci
db/Elevator.smart_action.txt
db/Elevator.smp_dump.txt
db/Elevator.sta_cmp.4_slow.tdb
db/Elevator.tmw_info
db/Elevator.vpr.ammdb
Elevator.qpf
Elevator.qsf
Elevator.qws
Final - 9612358014 .zip
incremental_db/compiled_partitions/Elevator.db_info
incremental_db/compiled_partitions/Elevator.root_partition.map.kpt
incremental_db/README
output_files/Elevator.asm.rpt
output_files/Elevator.done
output_files/Elevator.eda.rpt
output_files/Elevator.fit.rpt
output_files/Elevator.fit.smsg
output_files/Elevator.fit.summary
output_files/Elevator.flow.rpt
output_files/Elevator.jdi
output_files/Elevator.map.rpt
output_files/Elevator.map.summary
output_files/Elevator.pin
output_files/Elevator.pof
output_files/Elevator.sld
output_files/Elevator.sta.rpt
output_files/Elevator.sta.summary
simulation/modelsim/Elevator.sft
simulation/modelsim/Elevator.vho
simulation/modelsim/Elevator_modelsim.xrf
simulation/modelsim/Elevator_vhd.sdo
simulation/qsim/Elevator.do
simulation/qsim/Elevator.msim.vcd
simulation/qsim/Elevator.sft
simulation/qsim/Elevator.vho
simulation/qsim/Elevator_modelsim.xrf
simulation/qsim/Elevator_vhd.sdo
simulation/qsim/Elevator_vhd.sdo_max.csd
simulation/qsim/transcript
simulation/qsim/vwf_sim_transcript
simulation/qsim/work/_info
simulation/qsim/work/_lib1_95.qpg
simulation/qsim/work/_lib1_95.qtl
simulation/qsim/work/_vmake
